body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-link {
    margin: 0 20px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.section {
    display: none;
}

.section h1 {
    color: #333;
}

.section p {
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
